@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #000000;
  color: #fff;
}

/* Header */
header {
  background-color: #2c2c2c;
  border: 2px solid #1f1f1f;
  padding: 10px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo img {
  max-height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* Main content row */
.content-row {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  gap: 2rem;
}

.main-image {
  width: 300px;
}

.text-paragraph {
  color: red;
  flex: 1;
  position: relative;
  top: 80px;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
}

/* Highlight row */
.highlight-row {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 1rem auto 3rem;
  padding: 1rem;
  gap: 1rem;
}

.highlight-item {
  display: flex;
  margin-bottom: 100px;
  background-color: #050505;
  border-radius: 15px;
  border-color: red;
  border-style: solid;
  padding: 1em;
  gap: 20px;
  border-width: 5px;
}

.small-image-container {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
}

.small-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.highlight-text {
  justify-content: center;
  font-size: 2rem;
  line-height: 1.4;
}

/* Título das seções */
.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1rem 0;
}

.news-title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 5rem 0;
}

/* Linha de cards circulares */
.circle-row {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.circle-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.25rem;
  gap: 2rem; 
}

.circle-card {
  text-align: center;
  max-width: 150px;
}

.circle-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px outset white;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

/* Imagem com colunas de texto */
.image-with-columns {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.image-columns-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.large-img {
  width: 300px;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.columns-text {
  display: flex;
  gap: 2rem;
}

.column p {
  margin-bottom: 0.5rem;
}

.main-footer {
  background-color: #2c2c2c; /* mesma cor do header */
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-weight: bold;
  font-size: 1rem;
}
